@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(imagenes/stars-7088.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2 {
    text-align: center;
    color: transparent;
    font-size: 1.6em;
    background: linear-gradient(90deg, #080808, #404af4);
    background-size: 200% 200%;
    animation: animacionGradiente 5s infinite;
    -webkit-background-clip: text;
}

h2 {

    font-size: 1.4em;
}

.texto-meme {
    color: #878a8c;
    ;
}

@keyframes animacionGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    background: linear-gradient(-45deg, #f32d79, #139bcc, #23d5ab);
    background-size: 400% 400%;
    animation: gradiente 15s ease infinite;
    box-shadow: 8px 3px 7px 3px #4f4a4a;


}

@keyframes gradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contenedor_boton {
    width: 220px;
    display: flex;
    justify-content: space-around;
}

.contenedor-padre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

}

.contenedor {
    height: 344px;
    width: 332px;
    border: 1px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.8em);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor_imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    overflow: hidden; 
    border: 1px solid rgb(238, 208, 208);
}

.imagenInterna img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;

}

.boton_nav {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    padding: 4px 4px;

}

.boton_nav:hover {
    color: rgb(139, 212, 241);
    text-shadow: 3px 6px 8px #000000;
}

.modo-oscuro h1 {
    text-align: center;
    color: white;
    font-size: 1.6em;
}

.modo-oscuro header {

    background: linear-gradient(-45deg, #0c0c0c, #8f8f8f);
    background-size: 400% 400%;
    animation: gradiente 15s ease infinite;
    box-shadow: 8px 3px 7px 3px #4f4a4a;
}


.modo-oscuro .boton_nav {
    color: aliceblue;
    font-size: 0.9em;
}

.modo-oscuro .boton_nav:hover {
    border-bottom: 1px solid white;
    text-shadow: 2px 2px 9px #9a9696;

}

aside {
    display: none;
    height: 178px;
    width: 332px;
    overflow: scroll;
    color: rgb(27, 27, 27);
    background: linear-gradient(-45deg, #f32d79, #139bcc, #23d5ab);
    background-size: 400% 400%;
    animation: gradiente 15s ease infinite;
}

/*[type="checkbox"] {
    display: none;
}*/
#activar-texto{
    display: none;
}
#activar-imagen{
    display: none;
}

.cruz-panel {
    display: none;
    font-size: 1.2em;
    text-align: right;
    display: block;
    padding: 5px 7px;
}

.modo-oscuro aside {
    background: linear-gradient(-45deg, #0c0c0c, #8f8f8f);
    background-size: 400% 400%;
    animation: gradiente 15s ease infinite;
    color: white;
}

.modo-oscuro h2 {
    color: white;
}

/*aside {
    color: azure;
    width: 20%;
    height: 100%;
    background-color: #6eaec2;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: width 0.3s linear;
    para destok

}*/

.oculto {
    display: none;
}